@model Proyecto1.Models.usuario

@{
    ViewBag.Title = "Details";
    var nombreUsuario = Model.nombre;
}

<h2>Detalles de usuario: @nombreUsuario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Apellido Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            Fecha Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

        <dt>
            Correo electrónico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar el usuario " + @nombreUsuario, "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
