@model Proyecto1.Models.producto

@{
    ViewBag.Title = "Details";
    var idProducto = Model.nombre;
}

<h2>Detalles del producto: @idProducto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Precio unitario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percio_unitario)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            Proveedor
        </dt>

        <dd>
            @Proyecto1.Controllers.ProductoController.NombreProveedor(Model.id_proveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar producto " + @idProducto, "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
