@model Proyecto1.Models.compra

@{
    ViewBag.Title = "Details";
    var idCompra = Model.id;
}

<h2>Detalles de compra: @idCompra</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Proyecto1.Controllers.CompraController.NombreUsuario(Model.id_usuario)
        </dd>

        <dt>
            Cliente
        </dt>

        <dd>
            @Proyecto1.Controllers.CompraController.NombreCliente(Model.id_cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar compra " + @idCompra, "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
