@model Proyecto1.Models.producto_compra

@{
    ViewBag.Title = "Details";
    var idProductoCompra = Model.id_compra;
}

<h2>Detalles Producto Compra: @idProductoCompra</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Compra
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.id_compra)*@
            @Proyecto1.Controllers.ProductoCompraController.NombreCompra(Model.id_compra)
        </dd>

        <dt>
            Producto
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.id_producto)*@
            @Proyecto1.Controllers.ProductoCompraController.NombreProducto(Model.id_producto)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar producto compra " + idProductoCompra, "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
