@model Proyecto1.Models.usuariorol

@{
    ViewBag.Title = "Details";
    var idUsuarioRol = Model.id;
}

<h2>Detalles Producto Compra: @idUsuarioRol</h2>

<div>
    <h4>usuariorol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

        <dt>
            Rol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar usuario rol " + @idUsuarioRol, "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
